body {
    text-align: center;
    background-color: azure;
    
}

div, article {
    text-align: center;
    padding : 1%;
    display : block;
    margin: auto;
    width:70%;
    height : 100%;
    background-color: #fdf5df;
}

#menu{
    text-align: right;
}

#form{
    text-align: left;
}


nav{
    padding-bottom : 5%;
    padding-top: 1%;
}

p{
    text-align: left;
}

h2 {
    text-align: left;
}

h1 {
    text-decoration: underline;
    margin:auto;
    border-style : solid;
    border-width: 2px;
    padding : 1%; 
    border-color: #f92c85;

}

input{
    height:23px;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #f92c85;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 35px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-9:hover {
    background: #00bd68;
  }


