
<body>
    <h1 class="header center orange-text">Prévision de la ville de X</h1>

    <div class="container">
        <table>
            <tr>
                <td>
                    <div>
                        <h5 class="center" id="temps" style="text-transform: capitalize;">Nuages sad</h5>
                    </div>
                </td>
                <td>
                    <div>
                        <h5 class="center" id="temp">10 degrés !</h5>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="center" id="leverSoleil">le soleil se lève à dring heure twit-twit</h5>
                </td>
                <td>
                    <h5 class="center" id="coucherSoleil">et il se couche</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="center" id="tempMin">pas chaud hein</h5>
                </td>
                <td>
                    <h5 class="center" id="tempMax">pas froid hein ?</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="center" id="vitVent">Vent rapiiide</h5>
                </td>
                <td>
                    <h5 class="center" id="pression">pression</h5>
                </td>
            </tr>

    </div>
</body>
