<div class ="center" ng-controller="previsionsController">
    <h1 class="header orange-text">Prévisions de cette semaine pour {{title}}</h1>
    
    <a href="/" class="btn-floating btn-large waves-effect waves-light blue-grey left"><i class="material-icons">arrow_back</i></a>
    <br>
    <br>
    <div class="row section">
        <ul>
            <li class="col s3" ng-repeat="x in ville.data">
                <div class="card size blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title blue-grey lighten-1" style="font-size: 1em">{{x.date}}</span>
                        <div>
                            <p>{{x.desc}} </p>
                            <i class="small" ng-class="x.meteo"></i>
                            <p>Température minimale : {{x.min}} °C</p>
                        </div>
                        <div>
                            <p class="">Température maximale : {{x.max}} °C</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>