<div class ="center" ng-controller="previsionsController">
    <!-- Ici on affiche les prévisions de la semaine pour la ville sélectionée-->
    <h1 class="header orange-text">Prévisions de cette semaine pour {{title}}</h1>
    
    <a href="/" class="btn-floating btn-medium waves-effect waves-light light-blue lighten-1 left"><i class="material-icons">arrow_back</i></a>
    <br>
    <br>
    
    <div class="row section">
        <ul>
            <!-- Pour chaque journée comprise dans la partie data de la ville sélectionnée...-->
            <li class="col s3" ng-repeat="x in ville.data">
                <!-- On fait une carte contenant quelques informations-->
                <div class="card size small light-blue lighten-1">
                    <div class="card-content white-text">
                        <!-- Ces informations sont la date de la prédiction, la description, la température minimale et maximale...-->
                        <span class="card-title light-blue darken-3" style="font-size: 1em">{{x.date}}</span>
                        <div>
                            <p>{{x.desc}} </p>
                            <!-- On affiche ici une icône correspondant à la météo prévue-->
                            <i class="small" ng-class="x.meteo"></i>
                            <p><i class="fa-solid fa-temperature-empty fa-xl"></i> Temp. min. : {{x.min}} °C</p>
                        </div>
                        <div>
                            <p class=""><i class="fa-solid fa-temperature-full fa-xl"></i> Temp. max. : {{x.max}} °C</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>