<div class="section center no-pad-bot" id="index-banner">
    <div ng-controller="villesController">
        <br><br>
        <h2 class="header orange-text">Entrez une ville ci-dessous pour l'ajouter : </h2>
        <div>
            <input type="text" ng-model="city">
        </div>
        <a id="valid-button" class="btn-large waves-effect waves-light orange" ng-click="valid()" >Valider</a>
        <!-- <div class="row left">
        <a id="retourListe" href="#!meteovilles" class="btn-large waves-effect waves-light blue-grey">Annuler</a>
        </div> -->
        <!-- <p style="display: none;">La ville selectionnée n'existe pas.</p> -->
        <!-- <p ng-class="error" >La ville selectionnée n'existe pas.</p>  -->
    </div>
</div>
